<div class="col-lg-4">
  <div class="jumbotron">
    <h2>Users</h2>
  </div>
</div>

<div class="col-lg-4">
  <div class="jumbotron">
    <h2>Quizzes</h2>
  </div>
</div>

<div class="col-lg-4">
  <div class="jumbotron">
    <h2><%= link_to 'Categories', categories_path %></h2>
  </div>
</div>
