<div class="col-lg-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2>New category</h2>
    </div>
  </div>

  <div class="list-group">
    <%= link_to 'Categories', categories_path, class: 'list-group-item list-group-item-info' %>
  </div>
</div>

<%= render 'form', category: @category %>
